<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceTracker"
        tools:targetApi="31">
        <activity
            android:name=".Student.TimeTable.CalenderLayout"
            android:exported="false" />
        <activity
            android:name=".Teacher.Attendance.TakeAttendance"
            android:exported="false" />
        <activity
            android:name=".Teacher.Attendance.captActivity"
            android:exported="false" />
        <activity
            android:name=".Teacher.ClassDetails.Fragments.AllStudentsFragment"
            android:exported="false" />
        <activity
            android:name=".Teacher.ClassDetails.Fragments.TimelineFragment"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Teacher.ClassDetails.ClassDetailsView"
            android:exported="false" />
        <activity
            android:name=".Teacher.CreateNewSection.AddStudentsToClass"
            android:exported="false" />
        <activity
            android:name=".Teacher.CreateNewSection.CreateClass"
            android:exported="false" />
        <activity
            android:name=".Teacher.ClassesPage.AllAssignedClasses"
            android:exported="false" />
        <activity
            android:name=".Teacher.TeachSignUp.TeacherSignUp_2"
            android:exported="false" />
        <activity
            android:name=".Student.StdSignUp.StudentSignup_2"
            android:exported="false" />
        <activity
            android:name=".Teacher.TeacherHomePage.TeacherHome"
            android:exported="false" />
        <activity
            android:name=".Student.StudentHomePage.StudentHome"
            android:exported="false" />
        <activity
            android:name=".Teacher.TeachSignUp.TeacherSignup_1"
            android:exported="false" />
        <activity
            android:name=".Student.StdSignUp.StudentSignup_1"
            android:exported="false" />
        <activity
            android:name=".SignUp.LoginPage"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>